@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
main .hero-cronograma, main .nota-section, main .hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main .noticias .grid-noticia {
  display: grid;
  padding-left: 50px;
  padding-right: 50px;
  gap: 15px;
  padding-bottom: 15px;
}

/*--------------- RESET CSS ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/*--------------- FONT IMPORT ---------------*/
p {
  font-family: "Blinker", sans-serif;
}

h1 {
  font-family: "Orbitron", serif;
}

h2 {
  font-family: "Orbitron", serif;
}

h3 {
  font-family: "Orbitron", serif;
}

header {
  font-family: "Orbitron", serif;
  font-size: 15px;
  font-weight: bolder;
  background-color: #ff0600;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-collapse {
  padding: 10px;
}

.navbar-nav {
  padding-left: 20px;
  width: 45%;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: white;
  transition: 1.5s;
}
.nav-link:hover {
  transform: scale(1.1);
  color: white;
  background-color: black;
  border-radius: 8px;
}

.logo-index {
  width: 120px;
  height: 40px;
  transition: 1.5s;
}
.logo-index:hover {
  transform: scale(1.1);
  border-color: white;
  border-bottom: solid 1px black;
}

.navbar-toggler {
  color: white;
  border: solid white 2px;
}

main .hero-section {
  width: 100%;
  height: 550px;
  background-image: url("../img/verstappen-campeon.jpg");
}
main .hero-section h1 {
  color: white;
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  padding-top: 25%;
}
main .hero-section p {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
main .noticias {
  padding: 10px;
}
main .noticias .grid-noticia {
  width: 100%;
  grid-template-columns: 1.8fr 1fr 1fr;
  grid-template-rows: 360px 360px 360px;
}
main .noticias .grid-noticia .grid-noticia-central {
  padding: 10px;
  grid-row: span 3;
  border-top: solid #ff0600 10px;
  border-right: solid #ff0600 10px;
  border-radius: 15px;
  position: sticky;
  transition: 1s;
}
main .noticias .grid-noticia .grid-noticia-central img {
  width: 100%;
  padding-top: 10px;
}
main .noticias .grid-noticia .grid-noticia-central:hover {
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
main .noticias .grid-noticia .grid-noticia-item {
  padding: 10px;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
main .noticias .grid-noticia .grid-noticia-item:not(img, p) {
  border-bottom: solid #ff0600 1px;
  border-right: solid #ff0600 1px;
  border-radius: 0 0 10px 0;
}
main .noticias .grid-noticia .grid-noticia-item:hover {
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
main .noticias .grid-noticia .grid-noticia-item img {
  width: 100%;
  align-items: center;
  justify-content: center;
}
main .noticias .grid-noticia p {
  color: #ff0600;
  font-size: 12px;
  font-weight: bolder;
  padding-top: 5px;
  text-align: center;
}
main .noticias .grid-noticia h2 {
  font-size: 35px;
}
main .noticias .grid-noticia h3 {
  font-size: 18px;
  text-align: justify;
}
main .nota-section {
  width: 100%;
  height: 500px;
  background-image: url("../img/colapinto-2025.jpg");
  color: white;
  display: flex;
  align-items: center;
  text-align: justify;
}
main .nota-section h2 {
  font-size: 45px;
  padding-top: 40%;
  padding-left: 50px;
}
main .nota-section p {
  font-size: 20px;
  padding-left: 50px;
}
main .hero-cronograma {
  width: 100%;
  height: 400px;
  background-image: url("../img/cronograma-section.jpg");
}
main .hero-cronograma h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}
main .noticia-cronograma {
  padding-left: 10px;
}
main .noticia-cronograma p {
  padding: 5px 0px 0px 8px;
}
main .cronograma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .cronograma h2 {
  font-family: "Orbitron", serif;
  font-size: 28px;
}
main .cronograma table {
  width: 60%;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  justify-content: center;
}
main .cronograma table thead {
  color: white;
  background-color: black;
  font-family: "Orbitron", serif;
}
main .cronograma table thead tr th {
  padding: 8px;
}
main .cronograma table tbody {
  color: gray;
  font-family: "Blinker", sans-serif;
}
main .cronograma table tbody tr:nth-child(odd) {
  background-color: rgb(224, 224, 224);
}
main .cronograma table tbody tr td {
  padding: 8px;
}
main .driver-section {
  text-align: center;
  padding: 10px;
}
main .driver-section h1 {
  font-size: 50px;
  text-align: center;
  padding: 20px;
  border-top: solid black;
  border-right: solid black;
  border-left: solid black;
  border-radius: 10px;
}
main .driver-section p {
  padding: 15px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}
main .driver-section .top-3 {
  display: inline-table;
  justify-content: space-around;
  padding: 8px;
}
main .driver-section .top-3 div img {
  width: 300px;
  height: 310px;
}
main .driver-section div {
  display: inline-table;
  justify-content: space-around;
  padding: 8px;
}
main .driver-section div div img {
  width: 260px;
  height: 270px;
}
main .equipo-section {
  text-align: center;
  padding: 10px;
}
main .equipo-section h1 {
  font-size: 50px;
  text-align: center;
  padding: 20px;
  border-top: solid black;
  border-right: solid black;
  border-left: solid black;
  border-radius: 10px;
}
main .equipo-section p {
  padding: 15px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}
main .equipo-section div {
  display: inline-table;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
main .equipo-section div div img {
  width: 680px;
  height: 380px;
}
main .campeonato-constructores {
  text-align: center;
  padding: 10px;
}
main .campeonato-constructores h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  border-top: solid black;
  border-right: solid black;
  border-left: solid black;
  border-radius: 10px;
}
main .campeonato-constructores p {
  padding: 5px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}
main .campeonato-constructores div img {
  width: 80%;
  padding-bottom: 5px;
}
main .campeonato-constructores div table {
  width: 50%;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: left;
  margin: auto;
}
main .campeonato-constructores div table thead {
  color: white;
  background-color: black;
  font-family: "Orbitron", serif;
  padding: 8px;
}
main .campeonato-constructores div table thead td {
  padding: 8px;
}
main .campeonato-constructores div table tbody tr {
  color: gray;
  font-family: "Blinker", sans-serif;
  padding: 8px;
}
main .campeonato-constructores div table tbody tr:nth-child(odd) {
  background-color: rgb(224, 224, 224);
}
main .campeonato-constructores div table tbody tr td {
  padding: 8px;
}
main .campeonato-drivers {
  text-align: center;
  padding: 10px;
}
main .campeonato-drivers h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  border-top: solid black;
  border-right: solid black;
  border-left: solid black;
  border-radius: 10px;
}
main .campeonato-drivers p {
  padding: 5px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}
main .campeonato-drivers div img {
  width: 80%;
  padding-bottom: 5px;
}
main .campeonato-drivers div table {
  width: 50%;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: left;
  margin: auto;
}
main .campeonato-drivers div table thead {
  color: white;
  background-color: black;
  font-family: "Orbitron", serif;
  padding: 8px;
}
main .campeonato-drivers div table thead td {
  padding: 8px;
}
main .campeonato-drivers div table tbody tr {
  color: gray;
  font-family: "Blinker", sans-serif;
  padding: 8px;
}
main .campeonato-drivers div table tbody tr:nth-child(odd) {
  background-color: rgb(224, 224, 224);
}
main .campeonato-drivers div table tbody tr td {
  padding: 8px;
}

/*--------------- FOOTER ---------------*/
footer {
  background: linear-gradient(90deg, rgb(50, 50, 50) 0%, rgb(255, 255, 255) 50%, rgb(50, 50, 50) 100%);
  list-style: none;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li a img {
  width: 45px;
  padding: 5px;
  transition: 1s;
}
footer ul li a img:hover {
  transform: scale(1.1);
}

/*--------------- MEDIA QUERY ---------------*/
/* 
320px–480px: Dispositivos móviles
481px–768px: iPads y tablets
769px–1024px: Pantallas pequeñas y portátiles
1025px–1200px: Computadoras de escritorio y pantallas grandes
*/
/*-- 980PX --*/
@media screen and (max-width: 980px) {
  main {
    /*-DRIVERS-*/
    /*-CRONOGRAMA-*/
    /* -- TABLA EQUIPOS -- */
  }
  main .driver-section .top-3 {
    display: inline-table;
    justify-content: space-around;
    padding: 8px;
  }
  main .driver-section div {
    display: inline-table;
    justify-content: space-around;
    padding: 8px;
  }
  main .driver-section .top-3 div img {
    width: 260px;
    height: 280px;
  }
  main .driver-section div div img {
    width: 180px;
    height: 220px;
  }
  main .cronograma table {
    width: 75%;
  }
  main .equipo-section div div img {
    width: 700px;
    height: 390px;
    display: inline-table;
    justify-content: space-around;
  }
}
/*-- 954PX --*/
@media screen and (max-width: 954px) {
  main {
    /*-INDEX-*/
    /*-- GRID IMAGENES --*/
    /*-CRONOGRAMA-*/
  }
  main .noticias .grid-noticia h3 {
    font-size: 16px;
  }
  main .noticias .grid-noticia .grid-noticia-central h2 {
    font-size: 25px;
  }
  main .noticias .grid-noticia {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
  }
  main .noticias .grid-noticia .grid-noticia-central {
    grid-column: span 2;
    grid-row: span 2;
    border-top: solid #ff0600 10px;
    border-right: solid #ff0600 10px;
    border-radius: 15px;
    position: relative;
  }
  main .noticias .grid-noticia .grid-noticia-central img {
    width: 100%;
    padding-top: 10px;
  }
  main .noticias .grid-noticia .grid-noticia-item img {
    width: 100%;
  }
  main .cronograma table {
    width: 80%;
  }
}
/*-- 895PX --*/
@media screen and (max-width: 895px) {
  main {
    /*-INDEX-*/
    /*-- GRID IMAGENES --*/
    /*-CRONOGRAMA-*/
    /*-DRIVERS-*/
  }
  main .noticias .grid-noticia {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
    gap: 15px;
    padding-bottom: 15px;
  }
  main .noticias .grid-noticia .grid-noticia-central {
    grid-column: 1;
    grid-row: span 2;
    border-top: solid #ff0600 10px;
    border-right: solid #ff0600 10px;
    border-radius: 15px;
    position: relative;
  }
  main .noticias .grid-noticia .grid-noticia-central img {
    width: 100%;
    padding-top: 10px;
  }
  main .noticias .grid-noticia .grid-noticia-item img {
    width: 90%;
    padding-left: 25px;
  }
  main .cronograma table {
    width: 88%;
  }
  main .driver-section .top-3 div img {
    width: 220px;
    height: 240px;
  }
}
/*-- 830PX --*/
@media screen and (max-width: 830px) {
  main {
    /*-CRONOGRAMA-*/
    /*-DRIVERS-*/
    /* -- TABLA EQUIPOS -- */
  }
  main .cronograma table {
    width: 90%;
  }
  main .driver-section .top-3 {
    display: inline-table;
    justify-content: space-around;
    padding: 8px;
  }
  main .driver-section div {
    display: inline-table;
    justify-content: space-around;
    padding: 8px;
  }
  main .driver-section div div img {
    width: 170px;
    height: 200px;
  }
  main .equipo-section div div img {
    width: 650px;
    height: 350px;
    display: inline-table;
    justify-content: space-around;
  }
}
/*-- 800PX --*/
@media screen and (max-width: 800px) {
  main {
    /*-INDEX-*/
    /*-- GRID IMAGENES --*/
    /*-- NOTA SECTION --*/
    /*-DRIVERS-*/
    /*-EQUIPOS-*/
  }
  main .noticias .grid-noticia {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    gap: 15px;
    padding-bottom: 5px;
  }
  main .noticias .grid-noticia .grid-noticia-central {
    grid-column: 1;
    grid-row: span 2;
    border-top: solid #ff0600 10px;
    border-right: solid #ff0600 10px;
    border-radius: 15px;
    position: relative;
  }
  main .noticias .grid-noticia .grid-noticia-central img {
    width: 100%;
    padding-top: 10px;
  }
  main .noticias .grid-noticia .grid-noticia-item img {
    width: 90%;
    padding-left: 25px;
  }
  main .nota-section {
    background-image: url("../img/colapinto-2025-696px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  main .driver-section .top-3 div img {
    width: 210px;
    height: 230px;
  }
  main .driver-section div div img {
    width: 150px;
    height: 180px;
  }
  main .equipo-section h1 {
    font-size: 20px;
  }
}
/*-- 720PX --*/
@media screen and (max-width: 720px) {
  /*-CRONOGRAMA-*/
  main {
    /*-DRIVERS-*/
    /* -- TABLA EQUIPOS -- */
  }
  main .hero-cronograma {
    width: 100%;
    height: 100px;
    background-color: black;
    background-image: none;
  }
  main .hero-cronograma h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-family: "Orbitron", serif;
    padding-bottom: 20px;
  }
  main .driver-section .top-3 div img {
    width: 200px;
    height: 220px;
  }
  main .driver-section div div img {
    width: 140px;
    height: 160px;
  }
  main .equipo-section div div img {
    width: 540px;
    height: 300px;
    display: inline-table;
    justify-content: space-around;
  }
}
/*-- 696PX --*/
@media screen and (max-width: 696px) {
  main {
    /*-DRIVERS-*/
    /* -- TABLA EQUIPOS -- */
  }
  main .driver-section .top-3 {
    display: inline-table;
    justify-content: space-around;
    padding: 8px;
  }
  main .driver-section div {
    display: inline-table;
    justify-content: space-around;
    padding: 8px;
  }
  main .driver-section .top-3 div img {
    width: 380px;
    height: 400px;
  }
  main .driver-section div div img {
    width: 240px;
    height: 280px;
  }
  main .equipo-section div div img {
    width: 500px;
    height: 290px;
    display: inline-table;
    justify-content: space-around;
  }
}
/*-- 620PX --*/
@media screen and (max-width: 620px) {
  main {
    /*-INDEX-*/
    /*-DRIVERS-*/
    /* -- TABLA EQUIPOS -- */
    /* -- CAMPEONATOS -- */
  }
  main .hero-section h1 {
    font-size: 32px;
    align-items: center;
    align-content: flex-end;
    padding-top: 50%;
  }
  main .hero-section p {
    font-size: 18px;
    align-items: center;
    align-content: flex-end;
  }
  main .hero-cronograma h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    font-family: "Orbitron", serif;
  }
  main .driver-section h1 {
    font-size: 20px;
  }
  main .driver-section p {
    font-size: 12px;
  }
  main .driver-section .top-3 div img {
    width: 330px;
    height: 340px;
  }
  main .driver-section div div img {
    width: 330px;
    height: 340px;
  }
  main .equipo-section div div img {
    width: 435px;
    height: 225px;
    display: inline-table;
    justify-content: space-around;
  }
  main .equipo-section h1 {
    font-size: 20px;
  }
  main .equipo-section p {
    font-size: 12px;
  }
  main .campeonato-constructores h2 {
    font-size: 20px;
    padding: 10px;
  }
  main .campeonato-drivers h2 {
    font-size: 20px;
    padding: 10px;
  }
  main .campeonato-constructores div table {
    font-size: 12px;
  }
  main .campeonato-drivers div table {
    font-size: 12px;
  }
}
/*-- 460PX --*/
@media screen and (max-width: 460px) {
  main {
    /*-DRIVERS-*/
    /* -- TABLA EQUIPOS -- */
  }
  main .driver-section .top-3 div img {
    width: 300px;
    height: 320px;
  }
  main .driver-section div div img {
    width: 300px;
    height: 320px;
  }
  main .equipo-section div div img {
    width: 350px;
    height: 200px;
    display: inline-table;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=estilos.css.map */
