/*--------------- RESET CSS ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style-type: none;
    text-decoration: none;
}

/*--------------- FONT IMPORT ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

p{
    font-family: "Blinker", sans-serif;
}

h1{
    font-family: "Orbitron", serif;
}

h2{
    font-family: "Orbitron", serif;
}

h3{
    font-family: "Orbitron", serif;
}