/*--------------- FOOTER ---------------*/
footer{
    background: rgb(50,50,50);
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(255,255,255,1) 50%, rgba(50,50,50,1) 100%);
    list-style: none;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            a{
                img{
                    width: 45px;
                    padding: 5px;
                    &:hover{
                        width: 45px;
                        padding: 7px;
                    }
                }
            }
        }
    }
}

