main {
    //* INDEX *//
    .hero-section{
        width: 100%;
        height: 550px;
        background-image: url("../img/verstappen-campeon.jpg");
        @extend %bg-imagen;
        h1{
            color:nth($colores, 2);
            font-size: 50px;
            font-weight: 1000;
            text-align: center;
            padding-top: 25%;
        }
        p{
            color: nth($colores, 2);
            font-size: 20px;
            font-weight: bolder;
            text-align: center;
        }
    }
    .noticias{
        padding: 10px;
        .grid-noticia{
            width: 100%;
            @extend %grilla;
            grid-template-columns: 1.8fr 1fr 1fr;
            grid-template-rows: 360px 360px 360px;
            .grid-noticia-central{
                grid-row: span 3;
                @include borde-noticia (solid nth($colores, 1) 10px, solid nth($colores, 1) 10px,15px);
                position: sticky;
                transition: 1s;
                img{
                    width: 100%;
                    padding-top: 10px;
                }
                &:hover{
                    padding: 5px;
                    background-color: nth($colores, 3);
                    color: nth($colores, 2);
                    cursor: pointer;
                }
            }
            .grid-noticia-item {
                align-items: center;
                justify-content: center;
                transition: 1s;
                &:not(img,p){
                    border-bottom: solid nth($colores, 1) 1px;
                    border-right: solid nth($colores, 1) 1px;
                    border-radius: 0 0 10px 0;
                }
                &:hover{
                    padding: 5px;
                    background-color: nth($colores, 3);
                    color: nth($colores, 2);
                    cursor: pointer;
                }
                img{
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                }
            }
            p{
                color: nth($colores, 1);
                font-size: 12px;
                font-weight: bolder;
                padding-top: 5px;
                text-align: center;
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 18px;
                text-align: justify;
            }
        }        
    }
    .nota-section{
        width: 100%;
        height: 500px;
        background-image: url("../img/colapinto-2025.jpg");
        @extend %bg-imagen;
        color: nth($colores, 2);
        display: flex;
        align-items: center;
        text-align: justify;
        h2{
            font-size: 45px;
            padding-top: 40%;
            padding-left: 50px;
        }
        p{
            font-size: 20px;
            padding-left: 50px;
        }
    }
    //* CRONOGRMA *//
    .hero-cronograma{
        width: 100%;
        height: 400px;
        background-image: url("../img/cronograma-section.jpg");
        @extend %bg-imagen;
        h1{
            color: nth($colores, 2);
            font-size: 30px;
            text-align:center;
            justify-content: center;
            padding-top: 10px;
        }
    }
    .noticia-cronograma{
        padding-left: 10px;
        p{
            padding: 5px 0px 0px 8px;
        }
    }
    .cronograma{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-family: "Orbitron", serif;
            font-size: 28px;
        }
        table{
            width: 60%;
            border-style: solid;
            border-color: nth($colores, 3);
            border-radius: 10px;
            text-align: left;
            align-items: center;
            justify-content: center;
            thead{
                color: nth($colores, 2);
                background-color: nth($colores, 3);
                font-family: "Orbitron", serif;
                tr{
                    th{
                        padding: 8px;
                    }
                }
            }
            tbody{
                color: nth($colores, 4);
                font-family: "Blinker", sans-serif;
                tr{
                    &:nth-child(odd){
                        background-color: nth($colores, 5);
                    }
                    td{
                        padding: 8px;
                    }
                }
            }
        }
    }
    //* DRIVERS *//
    .driver-section{
        text-align: center;
        padding: 10px;
        h1{
            font-size: 50px;
            text-align: center;
            padding: 20px;
            @include borde(solid nth($colores, 3), solid nth($colores, 3), solid nth($colores, 3), 10px);
        }
        p{
            padding: 15px;
            background-color: nth($colores, 5);
            border-radius: 10px;
        }
        .top-3{
            display: inline-table;
            justify-content: space-around;
            padding: 8px;
            div{
                img{
                    width: 300px;
                    height: 310px;
                }
            }
        }
        div{
            display: inline-table;
            justify-content: space-around;
            padding: 8px;
            div{
                img{
                    width: 260px;
                    height: 270px;
                }
            }
        }
    }
    //* EQUIPOS *//
    .equipo-section{
        text-align: center;
        padding: 10px;
        h1{
            font-size: 50px;
            text-align: center;
            padding: 20px;
            @include borde(solid nth($colores, 3), solid nth($colores, 3), solid nth($colores, 3), 10px);
        }
        p{
            padding: 15px;
            background-color: nth($colores, 5);
            border-radius: 10px;
        }
        div{
            display: inline-table;
            justify-content:space-around;
            align-items: center;
            padding: 5px;
            div{
                img{
                    width: 680px;
                    height: 380px;
                }
            }
        }
    }
    //* CAMPEONATOS *//
    .campeonato-constructores {
        text-align: center;
        padding: 10px;
        h2{
            font-size: 40px;
            text-align: center;
            padding: 20px;
            @include borde(solid nth($colores, 3), solid nth($colores, 3), solid nth($colores, 3), 10px);
        }
        p{
            padding: 5px;
            background-color: nth($colores, 5);
            border-radius: 10px;
        }
        div{
            img{
                width: 80%;
                padding-bottom: 5px;
            }
            table{
                width: 50%;
                border-style: solid;
                border-color: nth($colores, 3);
                border-radius: 10px;
                text-align: left;
                margin: auto;
                thead{
                    color: nth($colores, 2);
                    background-color: nth($colores, 3);
                    font-family: "Orbitron", serif;
                    padding: 8px;
                    td{
                        padding: 8px;
                    }
                }
                tbody{
                    tr{
                        color: nth($colores, 4);
                        font-family: "Blinker", sans-serif;
                        padding: 8px;
                        &:nth-child(odd){
                            background-color: nth($colores, 5);
                        }
                        td{
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }
    .campeonato-drivers {
        text-align: center;
        padding: 10px;
        h2{
            font-size: 40px;
            text-align: center;
            padding: 20px;
            @include borde(solid nth($colores, 3), solid nth($colores, 3), solid nth($colores, 3), 10px);
        }
        p{
            padding: 5px;
            background-color: nth($colores, 5);
            border-radius: 10px;
        }
        div{
            img{
                width: 80%;
                padding-bottom: 5px;
            }
            table{
                width: 50%;
                border-style: solid;
                border-color: nth($colores, 3);
                border-radius: 10px;
                text-align: left;
                margin: auto;
                thead{
                    color: nth($colores, 2);
                    background-color: nth($colores, 3);
                    font-family: "Orbitron", serif;
                    padding: 8px;
                    td{
                        padding: 8px;
                    }
                }
                tbody{
                    tr{
                        color: nth($colores, 4);
                        font-family: "Blinker", sans-serif;
                        padding: 8px;
                        &:nth-child(odd){
                            background-color: nth($colores, 5);
                        }
                        td{
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }
}